GEN_AI_API_KEY=
CANVA_CLIENT_ID=
CANVA_CLIENT_SECRET=
MAGIC_EMAIL=
MAGIC_API_KEY=
PORCUPINE_ACCESS_KEY=
REPLICATE_API_TOKEN=
weather_api=
HUGGING_FACE_API_KEY=
TEMPLATE_ID=
CHAT_GPT_API_KEY=
BYTEZ_API_KEY=
MONGO_URI=

# Hugging Face Image Generation Config
HF_TOKEN=
IMAGE_MODEL=black-forest-labs/FLUX.1-schnell
IMAGE_OUTPUT_DIR=www/generated_images


NVIDIA_API_KEY=
NVIDIA_MODEL=
NVIDIA_BASE_URL=